@charset "UTF-8";

.index {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-ms-box-sizing: border-box;
	-o-box-sizing: border-box;
	clear:both;
	font-size:85%;
	position:absolute;
	right:0px;
	top:0px;
	background-color:rgba(0,0,0,0);
	text-align:right;
	/*width:280px;*/
	/*height:150px;*/
}
.index h1 {
	/*background-image: url(/common/img/onetapbuy_index.png);*/
	/*background-color:#FFFFFF;*/
	margin-bottom:0px;
	text-align:left;
}
.index h1 a {
	display:block;
	width:100%;
	height:100%;
	text-indent:-9999px;
}
.play_btn {
	width:20%;
	max-width:90px;
	margin:20px auto 0 auto;
}
.play_btn:first-child {
	margin:0 auto;
}
.image1 navi {
	float:none;
	margin:40px auto;
}
.keyword1 {
	-webkit-box-sizing:border-box;
	-moz-box-sizing:border-box;
	-ms-box-sizing:border-box;
	-o-box-sizing:border-box;
	width:60%;
	position:absolute;
	left:50%;
	top:38%;
	margin-left:-30%;
	text-align:center;
	z-index:10;
}
.transaction_banner {
	margin:25px auto 0 auto;
	max-width:1050px;
	min-width:340px;
	text-align:left;
	text-indent:20px;
}
.messege {
	width:100%;
	margin:110px 0 0 20px;
	color:#FFFFFF;
	font-weight:100;
}
.keyword {
	font-size:180%;
	margin-bottom:20px;
	line-height:145%;
}
@media screen and (min-width: 710px) {
   /* 表示領域が710px以上の場合に適用するスタイル */
.transaction_banner {
	margin:15px auto 0 auto;
}
.messege {
	margin:120px 0 0 20px;
}
.keyword {
	font-size:150%;
	margin-right:70px;
	float:right;
}
}
@media screen and (min-width: 1050px) {
   /* 表示領域が1050px以上の場合に適用するスタイル */
.transaction_banner {
	margin:120px auto 0 auto;
	max-width:1050px;
	min-width:340px;
}
.messege {
	margin:180px 0 0 20px;
	font-size:120%;
}
.keyword {
	font-size:140%;
	line-height:145%;
}
}
.top_contents {
	/*max-width:1050px;
	min-width:340px;*/
	position:relative;
	margin:0 auto;
}
.read {
	font-size:120%;
	line-height:180%;
}

.index navi {
	float:left;
	font-weight:900;
	padding:10px 10px 10px 0;
}   
@media screen and (min-width: 500px) {
   /* 表示領域が500px以上の場合に適用するスタイル */
.index navi {
	position:absolute;
	top:18px;
	right:30px;
	clear:left;
}
}
.index navi ul {
	list-style:none;
}

.index navi ul li {
	float:left;
	background-color:rgba(0,0,0,0.6);
	line-height:24px;
	margin-left:5px;
	border:solid 1px #CCCCCC;
	text-align:center;
}
@media screen and (min-width: 710px) {
   /* 表示領域が710px以上の場合に適用するスタイル */
.index navi ul li {
}
}
.index navi ul li a {
	display:block;
	color:#FFFFFF;
	text-decoration:none;
	width:100%;
	height:100%;
}
.index navi ul li a:hover {
	display:block;
	color:#FFFFFF;
	background-color:rgba(255,255,255,0.5);
	text-decoration:none;
	width:100%;
	height:100%;
	text-shadow:0px 0px 5px #000000;
}
.top_ref {
	-webkit-box-sizing:border-box;
	-moz-box-sizing:border-box;
	-ms-box-sizing:border-box;
	-o-box-sizing:border-box;
	/*margin:10px auto;*/
	padding:10px 10px 30px 10px;
	text-align:center;
}
@media screen and (min-width: 710px) {
   /* 表示領域が710px以上の場合に適用するスタイル */
.top_ref {
	width:33%;
}
}
.top_ref h2 {
	 color:#999999;
	 font-size:175%;
	 font-weight:100;
	 line-height:135%;
	 padding:0 0 8px 0;
}
/*.top_ref div {
	margin:10px 20px;
	margin:0 auto;
	text-align:left;
	text-align:center;
	width:100%;
}*/
.top_ref ul {
	margin:10px 50px;
	list-style:none;
	text-align:left;
}
.top_ref ul li {
	background-image:url(../img/arrow_circle.png);
	background-size: 20px 20px, auto !important;
	-webkit-background-size: 20px 20px, auto !important;
	-moz-background-size: 20px 20px, auto !important;
	-ms-background-size: 20px 20px, auto !important;
	-o-background-size: 20px 20px, auto !important;
	background-position: left center;
	background-repeat: no-repeat;
	display:block;
	line-height:36px;
	vertical-align:middle;
	text-indent:18px;
	border-bottom:dotted 2px #CCCCCC;
}
.top_ref ul li a {
	display:block;
	color:#555555;
	text-decoration:none;
	width:100%;
	height:100%;
}
.top_ref ul li a:hover {
	background-image:url(../img/arrow_circle.png);
	background-size: 20px 20px, auto !important;
	-webkit-background-size: 20px 20px, auto !important;
	-moz-background-size: 20px 20px, auto !important;
	-ms-background-size: 20px 20px, auto !important;
	-o-background-size: 20px 20px, auto !important;
	background-position: left center;
	background-repeat: no-repeat;
	background-color:#FFEEEE;
}
.introduction {
	-webkit-box-sizing:border-box;
	-moz-box-sizing:border-box;
	-ms-box-sizing:border-box;
	-o-box-sizing:border-box;
	/*margin:10px auto;*/
	/*color:#FFFFFF;*/
	line-height:150%;
	/*padding:20px;*/
}
.introduction h2 {
	text-align:center;
	padding:20px 0;
	font-size:200%;
	line-height:120%;
	color:#999999;
	font-weight:100;
}
.introduction div {
	color:#333333;
	line-height:130%;
	margin-top:15px;
	padding:0 20px;
	text-align:center;
	font-size:125%;
}
.image01 {
	-webkit-box-sizing:border-box;
	-moz-box-sizing:border-box;
	-ms-box-sizing:border-box;
	-o-box-sizing:border-box;
	width:100%;
	position:relative;
	float:left;
	line-height:0px;
}
@media screen and (min-width: 760px) {
   /* 表示領域が760px以上の場合に適用するスタイル */
.introduction {
	font-size:16px;
}
.introduction div {
	font-size:80%;
}
.image01 {
	-webkit-box-sizing:border-box;
	-moz-box-sizing:border-box;
	-ms-box-sizing:border-box;
	-o-box-sizing:border-box;
	width:50%;
	position:relative;
	float:left;
}
}
.youtube {
	-webkit-box-sizing:border-box;
	-moz-box-sizing:border-box;
	-ms-box-sizing:border-box;
	-o-box-sizing:border-box;
	/*margin:10px auto;*/
	float:left;
	padding:20px;
}
@media screen and (min-width: 760px) {
   /* 表示領域が760px以上の場合に適用するスタイル */
.top_ref {
	padding-bottom:0px;
	float:left;
	width:45%;
	min-width:320px;
}
}
@media screen and (min-width: 900px) {
   /* 表示領域が1100px以上の場合に適用するスタイル */
.top_ref {
	width:33%;
	min-width:320px;
}
.wide_c {
	width:100%;
	max-width:1200px;
	margin:20px auto;
	clear:both;
}
.ref_word {
	width:520px;
}
.top_ref .ref_word ul {
	margin:10px 0;
}
.top_ref .ref_word ul li {
	width:245px;
	margin-right:15px;
	float:left;
}
.youtube {
	width:55%;
}
}

.caution_top {
	text-align:right;
	font-size:75%;
	clear:both;
}
.car_img {
	width:50%;
	height:50%;
	position:absolute;
	top:60px;
}
.car_img div {
	position:absolute;
	top:0px;
	left:0px;
}
.index_brand_icon {
	width:50px;
	height:50px;
	border-radius:5px;
	border:solid 2px;
	padding:2px;
	float:left;
	margin:10px;
	font-weight:900;
	position:relative;
	box-shadow:#333333 2px 2px 4px;
}
.index_brand_icon a {
	color:#333333;
	text-decoration:none;
}
.stay {
	border-color:#EEEEEE;
	background-color:#FFFFFF;
}
.up {
	border-color:#FFCCCC;
	background-color:#FFFFFF;
}
.down {
	border-color:#CCCCFF;
	background-color:#FFFFFF;
}
.main_logo {
	text-align:center;
	width:70%;
	margin:0 15%;
}
@media screen and (min-width: 640px) {
   /* 表示領域が640px以上の場合に適用するスタイル */
.main_logo {
	text-align:center;
	width:360px;
	margin:0 auto;
}
}
.iv_word {
	padding:0;
}
.iv_card {
	line-height:0px;
	width:35%;
	margin:0 0 0 20%;
}
@media screen and (min-width: 480px) {
/* 表示領域が480px以上の場合に適用するスタイル */
.iv_word {
	float:left;
}
.iv_card {
	float:left;
	margin:0px;
}
}
@media screen and (min-width: 840px) {
/* 表示領域が840px以上の場合に適用するスタイル */
.iv_word {
	padding:50px 0 0 15%;
}
.iv_card {
	line-height:0px;
	width:35%;
	max-width:200px;
	margin:-20px 0 0 10px;
}
}
.roteto {
	-webkit-box-sizing:border-box;
	-moz-box-sizing:border-box;
	-ms-box-sizing:border-box;
	-o-box-sizing:border-box;
	width:100%;
	padding:2%;
	float:left;
}
@media screen and (min-width: 640px) {
.roteto {
	width:45%;
	margin:0 0 0 2%;
}
}
	
/*トップYouTube表示用*/
.move_stage {
	display:none;
	z-index:99;
	position:fixed;
	left:0px;
	top:0px;
	width:100%;
	height:100%;
	padding:10px 0 0 0;
	background-color:rgba(0,0,0,0.8);
	text-align:right;
}
.move_stage a {
	font-size:150%;
	font-weight:900;
	color:#FFFFFF;
	text-decoration:none;
	padding:10px;
	margin:10px 10px;
	clear:both;
}
/*トップYouTube表示用*/

/*障害発生時アラートレイヤー*/
#warning {
	position:absolute;
	top:50px;
	left:10px;
	background-color:rgba(0,0,0,0.5);
	/*border:solid 2px;
	border-color:rgba(0,0,0,0.5);*/
	padding:3px 10px;
	border-radius:5px;
	color:#FFFFFF;
	font-weight:900;
}
#warning a {
	color:#FFFFFF;
	text-decoration:none;
	text-shadow:0px 0px 4px #000000;
}
@media screen and (max-width: 840px) {
#warning {
	top:10px;
	left:10px;
}
/*障害発生時アラートレイヤー*/